$dark-violet: rgb(37, 0, 37);
$green: rgb(37, 200, 150);
$yellow: rgb(252, 249, 105);

header {
    background-color: $dark-violet;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    color: white;
}

.content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header_content {
    @extend .content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    div {
        padding: 5px 5px;
        display: inline-block;
        font-size: 23px;
    }
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;

}

.wrapper {
    min-height: 100vh;
    background-color: white;
}

.form_area {
    margin: 70px 10px 20px;
    padding: 30px 20px;
}

#x-input {
    width: 85%;
    height: 2em;
    outline: none;

    padding: 3px 10px;

    border: 2px solid rgb(196, 196, 196);
    border-radius: 6px;

    &:focus {
        border-color: $dark-violet;
    }
}

#selected-y-cord {
    display: inline-block;
    width: 60px;
    height: 1.5em;
    border: 2px solid black;
    text-align: center;
    margin-right: 3px;
}

#buttons-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    button {
        color: white;
        cursor: pointer;
        
        min-width: 30px;
        min-height: 20px;
        margin: 3px;

        background-color: $dark-violet;
        border: 2px solid $dark-violet;
        // border-radius: 4px;
        
        font-size: 1.2em;

        &:hover {
            background-color: white;
            color: $dark-violet;
            transition: background-color 0.2s ease;
        }

        &:active {
            background-color: mix(#fff, $dark-violet, 70%);
        }

    }
}

input[type="radio"][name="radius"] {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;

        transition: background-color 0.25s ease;

        &:hover {
            background-color: mix(#fff, $dark-violet, 95%);
        }

        &::before {
            display: flex;
            content: "";
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            box-shadow: inset 0 0 0 0.125em $dark-violet;
            transition: 0.25s ease;
        }

    }

    &:checked + label{
        background-color: mix(#fff, $dark-violet, 84%);

        &:before {
            box-shadow: inset 0 0 0 0.4375em $dark-violet;
        }
    }

    
}

#graphic {
    padding: 5px;
    border: $green solid 5px;
    border-radius: 15px;
}

#graph-td {
    text-align: right;
}

#form-table {
    width: 100%;
}

.results {
    width: 100%;
    padding: 10px 20px;
    color: white;

    th {
        background-color: $yellow;
        text-shadow: grey 2px 2px;
        padding: 5px 10px;
        &:first-child {
            border-top-left-radius: 15px;
        }
        &:last-child {
            border-top-right-radius: 15px;
        }
    }

    td {
        padding: 5px 10px;
        background-color: $green;
    }

    tr:last-child {
        td:first-child {
            border-bottom-left-radius: 15px;
        }
        td:last-child {
            border-bottom-right-radius: 15px;
        }
    }
}

#check-btn {
    cursor: pointer;
    border: 3px solid $dark-violet;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;

    &:hover {
        background-color: rgb(237, 237, 237);
    }

    &:active {
        background-color: rgb(210, 210, 210);
    }
}

.error-message {
    background-color: red;
    // border: 1px solid white;
    padding: 2px 5px;
    width: 83%;
}

#x-input.not-valid {
    box-shadow: inset 0 0 7px 2px red;
    border-color: red;
}

.hidden {
    display: none;
}